<section class="advantages">
  <h2 class="title">Advantages</h2>
  <ul class="list">
    <li class="item">
      <div class="icon-box">
        <svg class="icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-chocolate1"></use>
        </svg>
      </div>
      <h3 class="subtitle">Unsurpassed taste</h3>
      <p class="description">
        Crafted with the finest quality cocoa beans and a dedication to
        perfection, each bite is a decadent experience that simply cannot be
        matched. Savor the richness and complexity of our Unsurpassed Taste and
        discover a new level of chocolate bliss.
      </p>
    </li>
    <li class="item">
      <div class="icon-box">
        <svg class="icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-coin"></use>
        </svg>
      </div>
      <h3 class="subtitle">Affordable price</h3>
      <p class="description">
        Indulge in high-quality chocolate without breaking the bank with Simply
        Chocolate's selection of affordable treats. Enjoy mouth-watering
        truffles and velvety chocolate bars without sacrificing taste or
        quality. Browse our selection and indulge in affordable luxury today.
      </p>
    </li>
    <li class="item">
     <div class="icon-box">
        <svg class="icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-spoon"></use>
        </svg>
     </div>
      <h3 class="subtitle">Own production</h3>
      <p class="description">
        We take pride in our own production process, ensuring that every step is
        carefully crafted to perfection. From selecting the finest ingredients
        to handcrafting each piece, our attention to detail is evident in every
        bite.
      </p>
    </li>
  </ul>
</section>
