<div class="modal" data-modal="buy">
  <button class="modal-close js-modal-close" aria-label="close">
    <svg class="icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="buy-modal">
    <h2 class="title"><span class="accent">BUY</span> NOW</h2>
    <div class="swiper" data-id="buy">
      <ul class="list swiper-wrapper">
        <li class="item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/tablet/buy-modal-1.webp    1x,
                ./img/tablet/buy-modal-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/mobile/buy-modal-1.webp    1x,
                ./img/mobile/buy-modal-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="
                ./img/tablet/buy-modal-1.png    1x,
                ./img/tablet/buy-modal-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/buy-modal-1.png    1x,
                ./img/mobile/buy-modal-1@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/buy-modal-1.png"
              alt="CHOCOLATE"
              width="167"
            />
          </picture>
          <p class="size">100 g</p>
        </li>
        <li class="item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/tablet/buy-modal-2.webp    1x,
                ./img/tablet/buy-modal-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/buy-modal-2.webp    1x,
                ./img/mobile/buy-modal-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./img/tablet/buy-modal-2.png    1x,
                ./img/tablet/buy-modal-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/buy-modal-2.png    1x,
                ./img/mobile/buy-modal-2@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/buy-modal-2.png"
              alt="CHOCOLATE"
              width="167"
            />
          </picture>
          <p class="size">200 g</p>
        </li>
        <li class="item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/tablet/buy-modal-3.webp    1x,
                ./img/tablet/buy-modal-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/buy-modal-3.webp    1x,
                ./img/mobile/buy-modal-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="
                ./img/tablet/buy-modal-3.png    1x,
                ./img/tablet/buy-modal-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/buy-modal-3.png    1x,
                ./img/mobile/buy-modal-3@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/buy-modal-3.png"
              alt="CHOCOLATE"
              width="167"
            />
          </picture>
          <p class="size">300 g</p>
        </li>
      </ul>
      <div class="swiper-pagination-buy"></div>
    </div>
    <form class="form">
      <p class="name">Personal information</p>
      <div class="personal-info">
        <input
          type="text"
          name="name"
          class="field"
          id="buy-name"
          pattern="[A-Z]{1}[a-z]{1,30}"
          placeholder="Name"
          autocomplete="off"
          required
        />
        <input
          class="field"
          type="text"
          name="surname"
          id="buy-surname"
          pattern="[A-Z]{1}[a-z]{1,30}"
          placeholder="Surname"
          autocomplete="off"
          required
        />
      </div>
      <p class="name">Email</p>
      <input
        class="field"
        type="text"
        name="email"
        id="buy-email"
        pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        placeholder="Enter your email"
        autocomplete="off"
        required
      />
      <p class="name">Phone number</p>
      <div class="field field-tel" tabindex="1">
        <label class="label" for="buy-tel">
          <svg class="icon" width="23" height="18">
            <use href="./img/sprite.svg#icon-flag"></use>
          </svg>
          +380
        </label>
        <input
          class="tel"
          type="text"
          name="tel"
          id="buy-tel"
          pattern="^\d{9}$"
          placeholder="Phone number"
          autocomplete="off"
          required
        />
      </div>
      <p class="name">Card number</p>
      <div class="field-card">
        <input
          class="field"
          type="text"
          name="card"
          id="buy-card"
          pattern="\b\d{4}(| |-)\d{4}\1\d{4}\1\d{4}\b"
          placeholder="Enter card"
          autocomplete="off"
          required
        />
        <svg class="visa" width="32" height="21">
          <use href="./img/sprite.svg#icon-visa"></use>
        </svg>
      </div>
      <p class="name">Comment</p>

      <textarea rows="3" class="field comment" autocomplete="off" required>
      </textarea>

      <button class="btn orange-btn" type="submit" aria-label="Submit form">Submit</button>
    </form>
  </div>
</div>
