<footer class="footer" id="footer">
  <div class="container">
    <p class="slogan">
      <span class="accent">Chocolate</span> a delicious cure for a bad day
    </p>
    <div class="contacts-box">
      <div>
        <h3 class="contacts">Contacts us</h3>
        <ul>
          <li class="contact">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li class="contact">
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
          </li>
        </ul>
      </div>
      <ul class="networks">
        <li class="link">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="icon" width="22" height="22">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="link">
          <a href="https://twitter.com/" target="_blank">
            <svg class="icon" width="22" height="22">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="nav">
    <li class="item">
      <a href="#header">Home</a>
    </li>
    <li class="item">
      <a href="#how-its-made">How it's made?</a>
    </li>
    <li class="item">
      <a href="#our-products">Our products</a>
    </li>
    <li class="item">
      <a href="#top-sellers">Top sellers</a>
    </li>
    <li class="item">
      <a href="#reviews">Chocolate is loved</a>
    </li>
  </ul>
</footer>
