<header class="header" id="header">
  <a href="../index.html" class="logo">
    <span class="italic">SIMPLY </span>CHOCOLATE
    <svg class="icon" width="21" height="21">
      <use href="./img/sprite.svg#icon-chocolate"></use>
    </svg>
  </a>
  <button class="menu js-open-modal" data-modal="menu" type="button" aria-label="open">
    <svg class="icon" width="28" height="28">
      <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
  <nav class="nav">
    <ul class="anchors">
      <li class="item">
        <a href="#header">Home</a>
      </li>
      <li class="item">
        <a href="#how-its-made">How it's made?</a>
      </li>
      <li class="item">
        <a href="#our-products">Our products</a>
      </li>
      <li class="item">
        <a href="#top-sellers">Top sellers</a>
      </li>
      <li class="item">
        <a href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="networks">
      <li class="link">
        <a href="https://www.instagram.com/" target="_blank">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="link">
        <a href="https://twitter.com/" target="_blank">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
