<section class="hero">
  <div class="background">
    <div class="container">
      <div>
        <h1 class="title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h1>
        <div class="btns">
          <div>
            <button class="orange-btn btn hero-btn js-open-modal" data-modal="buy" type="button" aria-label="open form">
              Buy now
            </button>
            <a class="btn link" href="#how-its-made">How it's made</a>
          </div>
          <a class="down" href="#footer"
            >scroll down
            <svg class="icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-row"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
