<section class="how-its-made" id="how-its-made">
  <h2 class="title">HOW IT'S <span class="accent">MADE?</span></h2>
  <div class="container">
    <div class="movie-box">
      <picture>
        <source
          srcset="./img/desktop/movie.webp 1x, ./img/desktop/movie@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tablet/movie.webp 1x, ./img/tablet/movie@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/movie.webp 1x, ./img/mobile/movie@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />

        <source
          srcset="./img/desktop/movie.jpg 1x, ./img/desktop/movie@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tablet/movie.jpg 1x, ./img/tablet/movie@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/movie.jpg 1x, ./img/mobile/movie@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img class="img" src="./img/mobile/movie.jpg" alt="MOVIE" width="335" height="500" />
      </picture>
      <div class="icon-box">
        <svg class="icon" width="21" height="20">
          <use href="./img/sprite.svg#icon-play"></use>
        </svg>
      </div>
    </div>
    <div class="text-box">
      <h3 class="subtitle">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="list">
        <li class="item">
          <p class="text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </p>
        </li>
        <li class="item">
          <p class="text">
            At the same time, prepare a water bath. Melt the butter on it.
          </p>
        </li>
        <li class="item">
          <p class="text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </p>
        </li>
        <li class="item">
          <p class="text">
            Heat the mixture over low heat, letting it barely boil.
          </p>
        </li>
        <li class="item">
          <p class="text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
