<div class="modal" data-modal="menu">
  <button class="modal-close js-modal-close" aria-label="close">
    <svg class="icon" width="28" height="28">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="menu-modal">
    <ul class="nav">
      <li class="item">
        <a href="#header">Home</a>
      </li>
      <li class="item">
        <a href="#how-its-made">How it's made?</a>
      </li>
      <li class="item">
        <a href="#our-products">Our products</a>
      </li>
      <li class="item">
        <a href="#top-sellers">Top sellers</a>
      </li>
      <li class="item">
        <a href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="networks">
      <li class="link">
        <a href="https://www.instagram.com/" target="_blank">
          <svg class="icon" width="22" height="22">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="link">
        <a href="https://twitter.com/" target="_blank">
          <svg class="icon" width="22" height="22">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
