<section class="our-products" id="our-products">
  <h2 class="title">OUR <span class="accent">PRODUCTS</span></h2>
  <div class="swiper" data-id="products">
    <ul class="list swiper-wrapper">
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-1.webp 1x, ./img/mobile/cho-1@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-1.jpg 1x, ./img/mobile/cho-1@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-1.jpg"
            alt="ORANGE"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">ORANGE</h3>
        <p class="description">Dark chocolate</p>
        <p class="price">45 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-2.webp 1x, ./img/mobile/cho-2@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/cho-2.jpg"
            alt="APPLE&CRANBERRY"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">APPLE&CRANBERRY</h3>
        <p class="description">Milk chocolate</p>
        <p class="price">50 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-3.webp 1x, ./img/mobile/cho-3@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-3.jpg 1x, ./img/mobile/cho-3@2x.jpg 2x"
          />
          <img
            class="img"
            src="./img/mobile/cho-3.jpg"
            alt="LIME&SEA SALT"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">LIME&SEA SALT</h3>
        <p class="description">Dark chocolate</p>
        <p class="price">66 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-4.webp 1x, ./img/mobile/cho-4@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-4.jpg 1x, ./img/mobile/cho-4@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-4.jpg"
            alt="PINEAPPLE"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">PINEAPPLE</h3>
        <p class="description">Dark chocolate</p>
        <p class="price">54 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-5.webp 1x, ./img/mobile/cho-5@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-5.jpg 1x, ./img/mobile/cho-5@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-5.jpg"
            alt="CLASSIC"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">CLASSIC</h3>
        <p class="description">Milk chocolate</p>
        <p class="price">45 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-6.webp 1x, ./img/mobile/cho-6@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-6.jpg 1x, ./img/mobile/cho-6@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-6.jpg"
            alt="HONEY"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">HONEY</h3>
        <p class="description">Milk chocolate</p>
        <p class="price">50 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-7.webp 1x, ./img/mobile/cho-7@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-7.jpg 1x, ./img/mobile/cho-7@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-7.jpg"
            alt="ROASTED FRUITS"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">ROASTED FRUITS</h3>
        <p class="description">Dark chocolate</p>
        <p class="price">66 UAH</p>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="./img/mobile/cho-8.webp 1x, ./img/mobile/cho-8@2x.webp 2x"
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="./img/mobile/cho-8.jpg 1x, ./img/mobile/cho-8@2x.jpg 2x"
          />

          <img
            class="img"
            src="./img/mobile/cho-8.jpg"
            alt="CLASSIC"
            width="230"
            height="200"
          />
        </picture>
        <h3 class="subtitle">CLASSIC</h3>
        <p class="description">White chocolate</p>
        <p class="price">54 UAH</p>
      </li>
    </ul>
    <div class="swiper-pagination-products"></div>
  </div>
</section>
