<div class="modal" data-modal="review">
  <button class="modal-close js-modal-close">
    <svg class="icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="review-modal">
    <h2 class="title">
      LEAVE A REVIEW ABOUT <span class="accent">OUR CHOCOLATE</span>
    </h2>
    <form class="form">
      <input
        type="text"
        name="name"
        class="field"
        id="review-name"
        pattern="[A-Z]{1}[a-z]{1,30}"
        placeholder="Name"
        autocomplete="off"
        required
      />
      <input
        class="field"
        type="text"
        name="email"
        id="review-email"
        pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        placeholder="Enter your email"
        autocomplete="off"
        required
      />
      <div class="field field-tel" tabindex="1">
        <label class="label" for="review-tel">
          <svg class="icon" width="23" height="18">
            <use href="./img/sprite.svg#icon-flag"></use>
          </svg>
          +380
        </label>
        <input
          class="tel"
          type="text"
          name="tel"
          id="review-tel"
          pattern="^\d{9}$"
          placeholder="Phone number"
          autocomplete="off"
          required
        />
      </div>

      <textarea placeholder="Enter text" rows="4" class="field comment" autocomplete="off" required>
      </textarea>

      <button
        class="btn orange-btn js-modal-close js-open-modal"
        data-modal="thanks-for-review"
        type="submit"
        aria-label="submit review"
      >
        Send
      </button>
    </form>
  </div>
</div>
