<section class="reviews" id="reviews">
  <h2 class="title"><span class="accent">CHOCOLATE</span> IS LOVED</h2>
  <div class="swiper" data-id="review">
    <ul class="list swiper-wrapper">
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-1.webp    1x,
              ./img/mobile/review-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-1.png    1x,
              ./img/mobile/review-1@2x.png 2x
            "
          />

          <img
            class="img"
            src="./img/mobile/review-1.png"
            alt="Victoria Dobrzhanska"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Victoria Dobrzhanska</p>
        <p>
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-2.webp    1x,
              ./img/mobile/review-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-2.png    1x,
              ./img/mobile/review-2@2x.png 2x
            "
          />
          <img
            class="img"
            src="./img/mobile/review-2.png"
            alt="Nazar Babenko"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Nazar Babenko</p>
        <p>
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-3.webp    1x,
              ./img/mobile/review-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-3.png    1x,
              ./img/mobile/review-3@2x.png 2x
            "
          />

          <img
            class="img"
            src="./img/mobile/review-3.png"
            alt="Olena Kampusch"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Olena Kampusch</p>
        <p>
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-4.webp    1x,
              ./img/mobile/review-4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-4.png    1x,
              ./img/mobile/review-4@2x.png 2x
            "
          />

          <img
            class="img"
            src="./img/mobile/review-4.png"
            alt="Natalia Sus"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Natalia Sus</p>
        <p>
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-5.webp    1x,
              ./img/mobile/review-5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-5.png    1x,
              ./img/mobile/review-5@2x.png 2x
            "
          />

          <img
            class="img"
            src="./img/mobile/review-5.png"
            alt="Danilo Nottingham"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Danilo Nottingham</p>
        <p>
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/mobile/review-6.webp    1x,
              ./img/mobile/review-6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/mobile/review-6.png    1x,
              ./img/mobile/review-6@2x.png 2x
            "
          />

          <img
            class="img"
            src="./img/mobile/review-6.png"
            alt="Irina Tydnyuk"
            width="80"
            height="80"
          />
        </picture>
        <p class="name">Irina Tydnyuk</p>
        <p>
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <div class="swiper-pagination-review"></div>
  </div>
  <button class="btn js-open-modal" data-modal="review" type="button" aria-label="open form">
    Leave a review
  </button>
</section>
