<section class="subscribe" id="subscribe">
  <h2 class="title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
  <p class="description">
    From the velvety texture to the rich and complex flavor, our New Chocolate
    is a true indulgence that will leave you craving more. Made with only the
    finest ingredients and handcrafted with the utmost care, each piece is a
    work of art that is sure to please.
  </p>
  <button class="btn orange-btn js-open-modal" data-modal="subscribe" type="button" aria-label="open form">Subscribe</button>
</section>
