<div class="modal" data-modal="subscribe">
  <button class="modal-close js-modal-close" aria-label="close">
    <svg class="icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="subscribe-modal">
    <h2 class="title">
      <span class="new-row">EXPLORE OUR</span> <span class="accent">NEW CHOCOLATE</span> FIRST!
    </h2>
    <form class="box-input">
      <input class="field" type="text" name="email" id="buy-email" pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        placeholder="Enter your email" autocomplete="off" required />
      <button class="btn orange-btn subscribe-btn" type="submit" aria-label="submit subscribe">Submit</button>
    </form>
  </div>
</div>
