<div class="modal thanks-modal" data-modal="thanks-for-review">
  <button class="modal-close js-modal-close">
    <svg class="icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="content">
    <h3 class="title">THANK YOU <span class="new-row">FOR YOUR FEEDBACK!</span></h3>
    <p class="description">We are so happy to hear <span class="new-row">from you!</span></p>
  </div>
</div>
