<div class="modal thanks-modal" data-modal="thanks-for-order">
  <button class="modal-close js-modal-close">
    <svg class="icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="content">
    <h3 class="title">THANK YOU!</h3>
    <p class="description">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>
