<section class="top-sellers" id="top-sellers">
  <h2 class="title"><span class="accent">TOP</span> SELLERS</h2>
  <ul class="list">
    <li class="item">
      <picture>
        <source
          srcset="./img/desktop/top-1.webp 1x, ./img/desktop/top-1@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tablet/top-1.webp 1x, ./img/tablet/top-1@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/top-1.webp 1x, ./img/mobile/top-1@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./img/desktop/top-1.jpg 1x, ./img/desktop/top-1@2x.jpg 2x"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./img/tablet/top-1.jpg 1x, ./img/tablet/top-1@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/top-1.jpg 1x, ./img/mobile/top-1@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="img"
          src="./img/mobile/top-1.jpg"
          alt="TOP SELLERS"
          width="335"
          height="464"
        />
      </picture>
      <p class="description">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="item">
      <picture>
        <source
          srcset="./img/desktop/top-2.webp 1x, ./img/desktop/top-2@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tablet/top-2.webp 1x, ./img/tablet/top-2@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/top-2.webp 1x, ./img/mobile/top-2@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />

        <source
          srcset="./img/desktop/top-2.jpg 1x, ./img/desktop/top-2@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tablet/top-2.jpg 1x, ./img/tablet/top-2@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobile/top-2.jpg 1x, ./img/mobile/top-2@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="img"
          src="./img/mobile/top-2.jpg"
          alt="TOP SELLERS"
          width="335"
          height="464"
        />
      </picture>
    </li>
    <li class="item">
      <picture>
        <source
          srcset="./img/desktop/top-3.webp 1x, ./img/desktop/top-3@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/desktop/top-3.jpg 1x, ./img/desktop/top-3@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <img
          class="img"
          src="./img/desktop/top-3.jpg"
          alt="TOP SELLERS"
          width="368"
          height="464"
        />
      </picture>
    </li>
  </ul>
  <div class="text-box">
    <p class="description2">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="btn orange-btn js-open-modal" data-modal="buy" type="button" aria-label="open">
      Buy now
    </button>
  </div>
</section>
