<section class="unique">
  <h2 class="title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="accent">TASTE</span> SENSATION
  </h2>
  <p class="description">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="list">
    <li class="flip-card flip-card1">
      <div class="flip-card-inner flip-card-inner1">
        <div class="item flip-card-front">
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate.webp    1x,
                ./img/desktop/chocolate@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./img/mobile/chocolate.webp    1x,
                ./img/mobile/chocolate@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="
                ./img/desktop/chocolate.png    1x,
                ./img/desktop/chocolate@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate.png    1x,
                ./img/mobile/chocolate@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/chocolate.png"
              alt="MILK CHOCOLATE"
              width="224"
              height="171"
            />
          </picture>
          <h3 class="ingredient">MILK CHOCOLATE</h3>
        </div>
        <div class="flip-card-back">
          <h3 class="ingredient">MILK CHOCOLATE</h3>
          <span class="benefit">chocolate</span>
          <span class="benefit">the benefits</span>
          <p class="text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="flip-card flip-card2">
      <div class="flip-card-inner flip-card-inner2">
        <div class="item flip-card-front">
          <picture>
            <source
              srcset="./img/desktop/milk.webp 1x, ./img/desktop/milk@2x.webp 2x"
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="./img/mobile/milk.webp 1x, ./img/mobile/milk@2x.webp 2x"
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="./img/desktop/milk.png 1x, ./img/desktop/milk@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/mobile/milk.png 1x, ./img/mobile/milk@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/milk.png"
              alt="MILK"
              width="224"
              height="171"
            />
          </picture>
          <h3 class="ingredient">MILK</h3>
        </div>
        <div class="flip-card-back">
          <h3 class="ingredient">MILK</h3>
          <span class="benefit">milk</span>
          <span class="benefit">the benefits</span>
          <p class="text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </div>
    </li>
    <li class="flip-card flip-card3">
      <div class="flip-card-inner flip-card-inner3">
        <div class="item flip-card-front">
          <picture>
            <source
              srcset="./img/desktop/nuts.webp 1x, ./img/desktop/nuts@2x.webp 2x"
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="./img/mobile/nuts.webp 1x, ./img/mobile/nuts@2x.webp 2x"
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="./img/desktop/nuts.png 1x, ./img/desktop/nuts@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/mobile/nuts.png 1x, ./img/mobile/nuts@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/nuts.png"
              alt="NUTS"
              width="224"
              height="171"
            />
          </picture>
          <h3 class="ingredient">NUTS</h3>
        </div>
        <div class="flip-card-back">
          <h3 class="ingredient">NUTS</h3>
          <span class="benefit">nuts</span>
          <span class="benefit">the benefits</span>
          <p class="text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </div>
    </li>
    <li class="flip-card flip-card4">
      <div class="flip-card-inner flip-card-inner4">
        <div class="item flip-card-front">
          <picture>
            <source
              srcset="
                ./img/desktop/semi-chocolate.webp    1x,
                ./img/desktop/semi-chocolate@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./img/mobile/semi-chocolate.webp    1x,
                ./img/mobile/semi-chocolate@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />

            <source
              srcset="
                ./img/desktop/semi-chocolate.png    1x,
                ./img/desktop/semi-chocolate@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/mobile/semi-chocolate.png    1x,
                ./img/mobile/semi-chocolate@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./img/mobile/semi-chocolate.png"
              alt="SEMI-SWEET CHOCOLATE"
              width="224"
              height="171"
            />
          </picture>
          <h3 class="ingredient">SEMI-SWEET CHOCOLATE</h3>
        </div>
        <div class="flip-card-back">
          <h3 class="ingredient">SWEET CHOCOLATE</h3>
          <span class="benefit">sweet chocolate</span>
          <span class="benefit">the benefits</span>
          <p class="text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
