.advantages {
  background-color: var(--dark-bcg-color);
  color: var(--white);
  padding: 36px 20px;
}
.advantages .title {
  display: none;
}
.advantages .list {
  display: grid;
  grid-template-columns: 308px;
  row-gap: 20px;
  justify-content: center;
}
.advantages .list .item .icon-box {
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages .list .item .subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.advantages .list .item .description {
  opacity: 0.7;
}
@media only screen and (min-width: 768px) {
  .advantages {
    padding: 50px 32px;
  }
  .advantages .list {
    display: grid;
    grid-template-columns: 308px 308px;
    column-gap: 60px;
    row-gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages {
    padding: 60px 50px;
  }
  .advantages .list {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    column-gap: 60px;
    row-gap: 40px;
  }
  .advantages .list .item {
    position: relative;
  }

  .advantages .list .item:not(:last-child)::after {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    right: -80px;
    top: 120px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
  }
}
