.btn {
  padding: 12px 26px;
  border-radius: 100px;
  font-weight: 600;
  border: none;
}

.orange-btn {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}
.orange-btn:hover {
  background-color: var(--light-orange);
  color: var(--orange);
  border-color: var(--light-orange);
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 14px 40px;
  }
}
