.buy-modal .title {
  margin-bottom: 32px;
}
.buy-modal .list {
  margin-bottom: 14px;
  text-align: center;
}
.buy-modal .list .item {
  width: 230px;
  background-color: var(--white);
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 15px;
  margin: 0 auto;
}
.buy-modal .list .item .img {
  margin-bottom: 16px;
  display: inline-block;
}
.buy-modal .list .item .size {
  background-color: var(--light-bcg-color);
  border: 1px solid var(--border);
  display: inline-block;
  padding: 8px 24px;
  font-weight: 600;
  border-radius: 100px;
}
.buy-modal .swiper-pagination-buy {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.buy-modal .form .name {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 18px;
}
.buy-modal .form .field {
  padding: 14px 18px;
  border: 1.5px solid var(--border);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
}
.buy-modal .form .field:focus {
  outline-color: var(--orange);
}
.buy-modal .form .field::placeholder {
  color: var(--border);
}
.buy-modal .form .field:first-of-type {
  margin-bottom: 14px;
}

.buy-modal .form .field-tel {
  display: flex;
}
.buy-modal .form .field-tel:focus {
  outline: 2px solid var(--orange);
}
.buy-modal .form .field-tel .tel {
  border: none;
  width: 150px;
  background-color: transparent;
  padding-left: 14px;
  outline: none;
}
.buy-modal .form .field-tel .tel::placeholder {
  color: var(--border);
}
.buy-modal .form .field-tel .label {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding-right: 8px;
  border-right: 1px solid var(--border);
}
.buy-modal .form .field-tel .label .icon {
  margin-right: 8px;
  display: inline-block;
}
.buy-modal .form .field-card {
  position: relative;
}
.buy-modal .form .field-card .field:first-of-type {
  margin: 0;
}
.buy-modal .form .field-card .visa {
  position: absolute;
  top: 12px;
  right: 15px;
}
.buy-modal .form .comment:first-of-type {
  padding: 14px 18px;
  margin: 0;
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='buy'] {
    width: 609px;
    padding: 48px;
  }
  .buy-modal .list .item {
    width: 160px;
    padding: 18px 32px;
  }
  .buy-modal .list .item .img {
    margin-bottom: 14px;
    width: 120px;
  }
  .buy-modal .swiper-pagination-buy {
    margin: 0;
  }
  .buy-modal .form .personal-info {
    display: flex;
    justify-content: space-between;
  }
  .buy-modal .form .personal-info .field:first-of-type {
    margin-bottom: 0;
    margin-right: 21px;
  }
  .buy-modal .form .field {
    padding: 22px 24px;
    font-size: 18px;
    border-radius: 13px;
  }
  .buy-modal .form .field-card .visa {
    top: 23px;
    right: 23px;
  }
}
