.footer {
  background-color: var(--dark-bcg-color);
  color: var(--white);
  padding: 32px 20px;
}
.footer .slogan {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer .contacts-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
  margin-bottom: 32px;
}
.footer .contacts-box .contacts {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
}
.footer .contacts-box .contact:hover {
  color: var(--orange);
}
.footer .contacts-box .contact:not(:last-of-type) {
  display: block;
  margin-bottom: 4px;
}
.footer .contacts-box .networks {
  display: flex;
  align-items: center;
}
.footer .contacts-box .networks .link:not(:last-of-type) {
  margin-right: 14px;
}
.footer .contacts-box .networks .link .icon {
  stroke: var(--white);
}
.footer .contacts-box .networks .link:hover .icon {
  stroke: var(--orange);
}
.footer .nav .item:hover {
  color: var(--orange);
}
.footer .nav .item:not(:last-of-type) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 32px;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 50px;
    margin-bottom: 24px;
  }
  .footer .slogan {
    font-size: 28px;
    width: 310px;
    margin-bottom: 0px;
  }
  .footer .contacts-box {
    border: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
  }
  .footer .contacts-box .networks {
    margin-left: 52px;
  }
  .footer .contacts-box .networks .link .icon {
    width: 24px;
    height: 24px;
  }
  .footer .nav {
    display: flex;
  }

  .footer .nav .item:not(:last-of-type) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}
