.header {
  padding: 25px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 375px;
}
.header .logo {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}
.header .logo .italic {
  font-style: italic;
  display: inline-block;
  margin-right: 4px;
}
.header .logo .icon {
  margin-left: 4px;
}
.header .menu {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.header .menu .icon {
  stroke: var(--black);
}
.header .menu:hover .icon {
  stroke: var(--orange);
}
.header .nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 31px 32px;
    width: 768px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 26px 32px 34px;
    width: 1200px;
  }
  .header .menu {
    display: none;
  }
  .header .nav,
  .header .anchors,
  .header .networks {
    display: flex;
    align-items: center;
  }
  .header .anchors {
    margin-right: 140px;
    font-weight: 500;
  }
  .header .anchors .item:not(:last-of-type) {
    margin-right: 24px;
  }
  .header .anchors .item:hover {
    color: var(--orange);
  }
  .header .networks .link:not(:last-of-type) {
    margin-right: 21px;
  }
  .header .networks .link .icon {
    stroke: var(--black);
    fill: transparent;
  }
  .header .networks .link:hover .icon {
    stroke: var(--orange);
  }
}
