.hero {
  padding: 0 20px 71px;
  color: var(--white);
}
.hero .background {
  background-image: url(../img/mobile/chocolate-hero.jpg);
  background-size: 100% 621px;
  height: 621px;
  width: 335px;
  border-radius: 30px;
  margin: 0 auto;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .hero .background {
    background-image: url(../img/mobile/chocolate-hero@2x.jpg);
    background-size: 100% 621px;
  }
}
.hero .background .container {
  padding: 395px 20px 28px;
}
.hero .background .container .title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
  text-align: left;
}
.hero .background .container .hero-btn {
  margin-right: 14px;
}
.hero .background .container .link {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  display: inline-block;
}
.hero .background .container .link:hover {
  border-color: var(--orange);
  color: var(--orange);
}
.hero .background .container .down {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.hero .background .container .down .icon {
  background-color: var(--white);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-left: 12px;
  padding: 6px;
}
.hero .background .container .down:hover {
  color: var(--orange);
}
.hero .background .container .down:hover .icon {
  background-color: var(--light-orange);
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 0 32px 50px;
  }
  .hero .background {
    background-image: url(../img/tablet/chocolate-hero.jpg);
    background-size: 100% 890px;
    height: 890px;
    width: 704px;
    border-radius: 30px;
    margin: 0 auto;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .hero .background {
      background: url(../img/tablet/chocolate-hero@2x.jpg) no-repeat top left;
      background-size: 100% 890px;
    }
  }
  .hero .background .container {
    padding: 671px 40px 117px;
  }
  .hero .background .container .title {
    font-size: 28px;
    margin-bottom: 32px;
    padding-right: 130px;
    text-align: left;
  }
  .hero .background .container .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .hero .background .container .down {
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 72px;
  }
  .hero .background {
    background-image: url(../img/desktop/chocolate-hero.jpg);
    background-size: 100% 600px;
    height: 600px;
    width: 1136px;
    border-radius: 30px;
    margin: 0 auto;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .hero .background {
      background: url(../img/desktop/chocolate-hero@2x.jpg) no-repeat top left;
      background-size: 100% 600px;
    }
  }
  .hero .background .container {
    padding: 381px 40px;
  }
  .hero .background .container .title {
    padding-right: 570px;
  }
}
