.how-its-made {
  padding: 0 20px 72px;
}
.how-its-made .title {
  margin-bottom: 32px;
}
.how-its-made .movie-box {
  position: relative;
  margin: 0 auto 20px;
  max-width: 335px;
}
.how-its-made .img {
  border-radius: 15px;
  width: 335px;
}
.how-its-made .icon-box {
  position: absolute;
  top: 45%;
  right: 45%;
  border: 1px solid var(--white);
  padding: 12px 9px 11px 15px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.how-its-made .icon-box:hover {
  border: 1px solid var(--orange);
}
.how-its-made .icon {
  fill: var(--white);
}
.how-its-made .icon-box:hover .icon {
  fill: var(--orange);
}
.how-its-made .text-box {
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px 14px;
  width: 335px;
  margin: 0 auto;
}
.how-its-made .text-box .subtitle {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 20px;
}
.how-its-made .text-box .list {
  list-style: none;
}
.how-its-made .text-box .list .item {
  padding-left: 20px;
  margin-bottom: 18px;
  position: relative;
}
.how-its-made .text-box .list .item::before {
  background-color: var(--grey);
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
  left: 0;
  position: absolute;
}
.how-its-made .text-box .list .item .text {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .how-its-made {
    padding: 0 77px 100px;
  }
  .how-its-made .title {
    margin-bottom: 50px;
  }
  .how-its-made .movie-box {
    max-width: 614px;
  }
  .how-its-made .img {
    width: 614px;
  }
  .how-its-made .text-box {
    padding: 32px;
    width: 614px;
  }
  .how-its-made .text-box .list {
    padding-right: 55px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made {
    padding: 0 32px 128px;
  }
  .how-its-made .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .how-its-made .movie-box {
    max-width: 600px;
    margin: 0;
    margin-right: 20px;
  }
  .how-its-made .img {
    width: 600px;
  }
  .how-its-made .text-box {
    margin: 0;
  }
}
