.modal[data-modal='menu'] {
  top: 0;
  left: auto;
  transform: translate(0%, 0%);
  right: 0%;
  width: 220px;
  background-color: var(--dark-bcg-color);
  border-radius: 0;
  height: 100vh;
  color: var(--white);
  padding: 136px 40px 23px 50px;
  font-weight: 500;
}
.modal[data-modal='menu'] .modal-close {
  stroke: var(--white);
  top: 24px;
  right: 12px;
}
.modal[data-modal='menu'] .modal-close:hover {
  stroke: var(--orange);
}
.menu-modal .nav {
  margin-bottom: auto;
}
.menu-modal .nav .item {
  transition: var(--transition) all;
}
.menu-modal .nav .item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-modal .nav .item:hover {
  color: var(--orange);
}
.menu-modal .networks {
  position: fixed;
  bottom: 20px;
  display: flex;
}
.menu-modal .networks .link {
  stroke: var(--white);
}
.menu-modal .networks .link:not(:last-child) {
  margin-right: 20px;
}
.menu-modal .networks .link:hover {
  stroke: var(--orange);
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='menu'] {
    width: 290px;
    padding: 155px 80px 25px 85px;
  }
  .modal[data-modal='menu'] .modal-close {
    stroke: var(--white);
    top: 32px;
    right: 22px;
  }
  .menu-modal .networks {
    left: 34px;
  }
}
