.our-products {
  padding: 0 0 72px 20px;
}
.our-products .title {
  margin-bottom: 32px;
}
.our-products .list {
  display: flex;
  margin-bottom: 20px;
}
.our-products .list .item {
  width: 335px !important;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: var(--white);
  padding: 32px 52px;
  text-align: center;
}
.our-products .list .item .img {
  margin-bottom: 8px;
}
.our-products .list .item .subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2px;
}
.our-products .list .item .description {
  font-size: 12px;
  margin-bottom: 18px;
}
.our-products .list .item .price {
  font-weight: 600;
  background-color: var(--light-bcg-color);
  border: 1px solid var(--border);
  border-radius: 100px;
  display: inline-block;
  padding: 8px 20px;
}
.our-products .swiper-pagination-products {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .our-products {
    padding: 0 0 100px 0;
  }
  .our-products .title {
    margin-bottom: 50px;
  }
  .our-products .list {
    padding: 0 32px;
  }
  .our-products .list .item {
    padding: 32px 20px;
    width: 270px !important;
  }
}
