.modal[data-modal='review'] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review-modal .title {
  padding-right: 8px;
  text-align: left;
  margin-bottom: 32px;
}
.review-modal .title .accent {
  font-size: 19px;
}
.review-modal .form .field {
  padding: 14px 18px;
  border: 1.5px solid var(--border);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
}
.review-modal .form .field:focus {
  outline-color: var(--orange);
}
.review-modal .form .field::placeholder {
  color: var(--border);
}
.review-modal .form .field:not(:last-child) {
  margin-bottom: 14px;
}
.review-modal .form .field-tel {
  display: flex;
}
.review-modal .form .field-tel:focus {
  outline: 2px solid var(--orange);
}
.review-modal .form .field-tel .tel {
  border: none;
  width: 150px;
  background-color: transparent;
  padding-left: 14px;
  outline: none;
}
.review-modal .form .field-tel .tel::placeholder {
  color: var(--border);
}
.review-modal .form .field-tel .label {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding-right: 8px;
  border-right: 1px solid var(--border);
}
.review-modal .form .field-tel .label .icon {
  margin-right: 8px;
  display: inline-block;
}
.review-modal .form .comment:first-of-type {
  padding: 14px 18px;
  margin: 0;
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='review'] {
    width: 517px;
    padding: 40px;
  }
  .modal[data-modal='review'] .modal-close .icon {
    width: 28px;
    height: 28px;
  }
  .review-modal .title {
    padding-right: 120px;
    margin-bottom: 40px;
  }
  .review-modal .title .accent {
    font-size: 24px;
  }
  .review-modal .form .field {
    padding: 22px 24px;
    font-size: 18px;
  }
  .review-modal .form .field:not(:last-child) {
    margin-bottom: 19px;
  }
  .review-modal .form .comment {
    font-size: 18px;
  }
}
