.reviews {
  padding: 0 20px 72px;
  text-align: center;
}
.reviews .title {
  margin-bottom: 32px;
}
.reviews .list {
  padding-top: 42px;
  margin-bottom: 20px;
  display: flex;
}
.reviews .list .item {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 56px 18px 0;
  position: relative;
  width: 335px;
  min-height: 200px;
}
.reviews .swiper-pagination-review {
    margin-bottom: 32px;
}

.reviews .list .item .img {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.reviews .list .item .name {
  font-weight: 600;
  font-size: 18px;
}
.reviews .btn {
  border: 1px solid var(--orange);
  background-color: transparent;
}
.reviews .btn:hover {
  color: var(--white);
  background-color: var(--orange);
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 0 32px 100px;
  }
  .reviews .title {
    margin-bottom: 50px;
  }
  .reviews .list .item {
    width: 344px;
  }
}
@media only screen and (min-width: 1200px) {
  .reviews {
    padding: 0 32px 128px;
  }
  .reviews .list .item {
    width: 360px;
  }
}
