/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./title.css');
@import url('./button.css');
@import url('./modal.css');
@import url('./swiper.css');
@import url('./header.css');
@import url('./menu.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./buy-modal.css');
@import url('./review-modal.css');
@import url('./subscribe-modal.css');

:root {
  --light-bcg-color: #fafafa;
  --dark-bcg-color: #1e1823;
  --orange-bcg-color: #fd9222;
  --white: #ffffff;
  --black: #111111;
  --orange: #fd9222;
  --grey: #4c4c4c;
  --light-orange: #fcf1e0;
  --border: rgba(17, 17, 17, 0.1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff2'),
    url('../fonts/Montserrat-Regular.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Montserrat-Medium.woff2'),
    url('../fonts/Montserrat-Medium.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Montserrat-SemiBold.woff2'),
    url('../fonts/Montserrat-SemiBold.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff2'),
    url('../fonts/Montserrat-Bold.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Montserrat-BoldItalic.woff2'),
    url('../fonts/Montserrat-BoldItalic.woff');
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #111111;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}
