.subscribe {
  color: var(--white);
  padding: 64px 24px;
  text-align: center;
  background: url(../img/mobile/whisk.jpg);
  background-size: auto 370px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .subscribe {
    background-image: url(../img/mobile/whisk@2x.jpg);
    background-size: auto 370px;
  }
}
.subscribe .title {
  margin-bottom: 24px;
}
.subscribe .description {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .subscribe {
    padding: 72px 150px;
  }
  .subscribe .title {
    padding: 0 45px;
  }
}
@media only screen and (min-width: 1200px) {
  .subscribe {
    padding: 72px 366px;
    background-size: cover;
  }
  
}

