.modal[data-modal='subscribe'] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/mobile/chocolate-modal-2.jpg) var(--white);
  background-repeat: no-repeat;
  background-size: auto 169px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .modal[data-modal='subscribe'] {
    background-image: url(../img/mobile/chocolate-modal-2@2x.jpg);
    background-size: auto 169px;
  }
}
.modal[data-modal='subscribe'] .modal-close {
  stroke: var(--white);
}
.modal[data-modal='subscribe'] .modal-close:hover,
.modal[data-modal='subscribe'] .modal-close:focus {
  stroke: var(--orange);
}
.subscribe-modal {
  padding-top: 169px;
}
.subscribe-modal .title {
  text-align: left;
  margin-bottom: 24px;
}
.subscribe-modal .title .accent {
  display: inline-block;
}
.subscribe-modal .box-input {
  display: flex;
  align-items: center;
}
.subscribe-modal .box-input .field {
  padding: 14px 18px;
  width: 263px;
  border: 1.5px solid var(--border);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.subscribe-modal .box-input .field:hover,
.subscribe-modal .box-input .field:focus {
  outline-color: var(--orange);
}
.subscribe-modal .box-input .field:placeholder {
  color: var(--border);
}
.subscribe-modal .box-input .subscribe-btn {
  padding: 14px 22px;
  margin-left: -40px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='subscribe'] {
    background: url(../img/tablet/chocolate-modal-2.jpg) var(--white);
    background-size: auto 196px;
    background-repeat: no-repeat;
    width: 538px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .modal[data-modal='subscribe'] {
      background-image: url(../img/tablet/chocolate-modal-2@2x.jpg);
      background-size: auto 196px;
    }
  }
  .modal[data-modal='subscribe'] .modal-close {
    top: 25px;
    right: 20px;
  }
  .subscribe-modal {
    padding-top: 196px;
  }
  .subscribe-modal .new-row {
    display: block;
  }
  .subscribe-modal .box-input .field {
    padding: 15px 24px;
    width: 313px;
  }
  .subscribe-modal .box-input .subscribe-btn {
    padding: 16px 42px;
    margin-left: 8px;
  }
}
