.modal.thanks-modal {
  background-color: var(--orange);
  background-image: url(../img/mobile/chocolate-modal-1.png);
  background-size: 296px auto;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 311px;
  height: 350px;
  overflow-y: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .modal.thanks-modal {
    background-image: url(../img/mobile/chocolate-modal-1@2x.png);
    background-size: 296px auto;
  }
}
.modal.thanks-modal .modal-close {
  background-color: var(--light-orange);
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.modal.thanks-modal .modal-close:hover {
  background-color: var(--white);
}
.modal.thanks-modal .modal-close .icon {
  stroke: var(--orange);
}
.modal.thanks-modal .content {
  padding: 74px 10px 0 58px;
  color: var(--light-orange);
}
.modal.thanks-modal .content .title {
  text-align: left;
  margin-bottom: 8px;
}
.modal.thanks-modal .content .title .new-row {
  display: block;
}
.modal.thanks-modal .content .description .new-row {
  display: block;
}
@media only screen and (min-width: 768px) {
  .modal.thanks-modal {
    background-image: url(../img/tablet/chocolate-modal-1.png);
    background-position: left 90px;
    width: 516px;
    height: 414px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .modal.thanks-modal {
      background-image: url(../img/tablet/chocolate-modal-1@2x.png);
    }
  }
  .modal.thanks-modal .modal-close {
    width: 40px;
    height: 40px;
  }
  .modal.thanks-modal .modal-close .icon {
    width: 22px;
    height: 22px;
  }
  .modal.thanks-modal .content {
    padding: 163px 34px 0 170px;
    color: var(--light-orange);
  }
  .modal.thanks-modal .content .description {
    font-size: 18px;
  }
  .modal.thanks-modal .content .description .new-row {
    display: inline;
  }
}
