.top-sellers {
  padding: 0 20px 72px;
  text-align: center;
}
.top-sellers .title {
  margin-bottom: 32px;
}
.top-sellers .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-sellers .list .item {
  width: 335px;
}
.top-sellers .list .item:first-of-type {
  margin-bottom: 32px;
}
.top-sellers .list .item:last-of-type {
  display: none;
}
.top-sellers .img {
  margin: 0 auto;
  border-radius: 15px;
  width: 335px;
  margin-bottom: 20px;
}
.top-sellers .description {
  text-align: left;
  max-width: 306px;
}
.top-sellers .text-box .description2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .top-sellers {
    padding: 0 32px 100px;
    max-width: 768px;
    margin: 0 auto;
  }
  .top-sellers .title {
    margin-bottom: 50px;
  }
  .top-sellers .list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 32px;
  }
  .top-sellers .list .item {
    width: 344px;
  }
  .top-sellers .list .item:first-of-type {
    margin-bottom: 0px;
    margin-right: 16px;
  }

  .top-sellers .img {
    width: 344px;
    margin: 0;
  }
  .top-sellers .description {
    display: none;
  }

  .top-sellers .text-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .top-sellers .text-box .description2 {
    display: block;
    text-align: left;
    max-width: 306px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-sellers {
    padding-bottom: 128px;
    max-width: 1136px;
  }
  .top-sellers .list .item {
    width: 368px;
  }
  .top-sellers .img {
    width: 368px;
    height: 464px;
  }
  .top-sellers .list .item:last-of-type {
    display: block;
    margin: 0;
  }
  .top-sellers .list .item:not(:last-of-type) {
    margin-right: 16px;
  }
  .top-sellers .text-box .description2 {
    max-width: 407px;
  }
}
