.unique {
  padding: 72px 20px;
  text-align: center;
}
.unique .title {
  margin: 0 auto 24px;
}
.unique .description {
  max-width: 335px;
  margin: 0 auto 32px;
}
.unique .list {
  display: grid;
  grid-template-columns: 335px;
  grid-template-rows: 270px 270px 270px 270px;
  row-gap: 20px;
  justify-content: center;
}
.unique .list .item {
  padding: 28px;
  border-radius: 15px;
  text-align: left;
  border: 1px solid var(--orange);
}
.unique .list .flip-card:nth-child(2n + 1) .flip-card-front {
  color: var(--white);
}
.unique .list .flip-card:nth-child(4n + 1) .flip-card-front {
  background-color: var(--orange);
}
.unique .list .flip-card:nth-child(2n) .flip-card-front {
  background-color: var(--white);
  color: var(--black);
}

.unique .list .flip-card:nth-child(4n + 3) .flip-card-front {
  background-color: var(--dark-bcg-color);
  border: 1px solid var(--dark-bcg-color);
}
.unique .list .flip-card .flip-card-front .img {
  display: block;
  margin: 0 auto 25px;
}
.unique .list .flip-card-front.ingredient {
  margin: 0;
  text-align-last: left;
  font-size: 14px;
}
.unique .list .flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.unique .list .flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.unique .list .flip-card1:hover .flip-card-inner1,
.unique .list .flip-card2:hover .flip-card-inner2,
.unique .list .flip-card3:hover .flip-card-inner3,
.unique .list .flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}
.unique .list .flip-card-front,
.unique .list .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.unique .list .flip-card-back {
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;
  border: 1px solid var(--orange);
  transform: rotateY(180deg);
  text-align: left;
  padding: 28px;
  overflow-wrap: break-word;
  hyphens: manual;
  font-size: 14px;
}
.unique .list .flip-card-back .ingredient {
  font-weight: 600;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}
.unique .list .flip-card-back .benefit {
  font-size: 10px;
  border: 1px solid var(--orange);
  padding: 6px 14px;
  display: inline-block;
  border-radius: 35px;
  margin-bottom: 14px;
}
.unique .list .flip-card-back .benefit:first-of-type {
  background-color: var(--orange);
  color: var(--white);
  margin-right: 6px;
}
.unique .list .flip-card-back .text {
  line-height: 1.29;
  height: 146px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .unique {
    padding: 100px 32px;
  }
  .unique .title {
    max-width: 412px;
  }
  .unique .description {
    max-width: 486px;
  }
  .unique .list {
    display: grid;
    grid-template-columns: 336px 336px;
    grid-template-rows: 270px 270px;
    column-gap: 32px;
    row-gap: 32px;
    grid-auto-flow: column;
  }
  .unique .list .flip-card:nth-child(4n + 3) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media only screen and (min-width: 1200px) {
  .unique {
    padding: 128px 32px;
  }
  .unique .list {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 270px;
    column-gap: 19px;
    row-gap: 0;
    grid-auto-flow: row;
  }
  .unique .list .flip-card:nth-child(4n + 3) {
    grid-column: 3;
    grid-row: 1;
  }
  .unique .list .flip-card-back .text {
  height: 146px;
  overflow: hidden;
}
}
